############################################################################################################################################################
# CONFIG FOR HORNET
############################################################################################################################################################

release=stable


############################################################################################################################################################
# CONFIG FOR THE PROXY INSTALLER
############################################################################################################################################################

# Set your domain or your ddns name
domain=myhornetnode.ddns.net

# Set your prefered Trinity port (this port must be exposed in your router if you want to reach it from outside)
apiport=443

# Set your prefered dashboard port (this port must be exposed in your router if you want to reach it from outside)
dashport=14266


############################################################################################################################################################
# DO NOT EDIT THE OPTION BELOW
############################################################################################################################################################	

branch=master


############################################################################################################################################################
############################################################################################################################################################